/* PADRÃO DE CORES DO MANUAL SENAI */
:root {
    --red: #e30613;
    --black: #000000;
    --white: #ffffff;
    --gray: #E1E4E7;
    --redMedium: #9a1915;
    --redDark: #681413;
    --blue: #1eb39f;
    --green: #cdfaaf;
    --bluebb: #d9fff7;
}

/* AQUI ESTÃO SOMENTE AS TAGS COM SUAS PROPRIEDADES */
* {
    box-sizing: border-box;
    scroll-behavior: smooth !important;
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: var(--bluebb);
    width: 100%;
    height: 100%;

}

header {
    background-color: var(--white);
    color: var(--black);
    /* min-height: 60px; */
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
}

a {
    text-decoration: none;
    align-items: center;
}

a :hover {
    opacity: 0.3;
}

ul {
    list-style: none;
}

main {
    max-width: 1440px;
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
}

footer {
    margin-top: 3em;
    background-color: var(--red);
    width: 100%;
    height: 210px;
    position: sticky;
}

/* AQUI COMEÇA OS STYLES DAS CLASSES E IDS */

h1 {
    font-size: 32px;
    padding-top: 16px;
    padding-bottom: 4px;
    margin-left: 70px;
    color: var(--blue);
}

h2 {
    font-size: 17px;
    padding-top: 16px;
    padding-bottom: 4px;
    margin-left: 70px;
    color: var(--black);
}
.container {
    max-width: 1140px;
}

@media (max-width: 768px) {
    .navbar {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        padding: 50px 0 20px 0;
    }
    .navbar-menu {
        display: none;
    }
    .nav-link {
        display: none;
    }
    .navbar-logo {
        width: 30%;
        align-items: center;
        margin-bottom: 2%;
        margin-left: 5%;
    }
    .navbar-items {
        display: none;
        flex-direction: row;
        list-style: none;
        margin-left: auto;
        margin-right: auto;
    }
    .navbar-items-menu {
        padding: 0;
        border-bottom: 5px solid transparent;
    }
    .logoedit {
        display: flex;
        justify-content: center;
    }
    .container {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .sub {
        font-size: xx-large;
        font-weight: bolder;
        color: var(--blue);
    }
    .sub-text {
        text-align: justify;
        margin-bottom: 60px;
    }
    .download {
        text-align: center;
        margin-top: 50px;
        border-radius: 5px;
        border-style: none;
        color: var(--white);
        background-color: var(--blue);
        height: 60px;
        width: 100px;
    }
    .footer-icons {
        display: flex;
        padding: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
        z-index: 999;
    }
    .items-social-media {
        color: var(--white);
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 15px;
    }
    .footer-link {
        color: var(--white);
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .interatividade {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .text {
        color: var(--blue);
        font-size: large;
        font-weight: bold;
    }
    #logoedit {
        width: 90%;
    }
    #download {
        color: white;
    }
    #VIDEO {
        width: 100%;
        height: 240px;
        margin-bottom: 60px
    }
    #map {
        width: 100%;
        height: 260px;
    }
    #burger {
        display: flex;
        justify-content: end;
        color: var(--black);
        cursor: pointer;
        margin-bottom: 2%;
        margin-left: 40%;
    }
    #burger:hover {
        background-color: var(--black);
        color: var(--white);
    }
}

/* estilos aplicados a dispositivos com tela menor ou igual a 768px */

@media (min-width: 769px) and (max-width: 1024px) {
    /* estilos aplicados a dispositivos com tela entre 769px e 1024px */
    .navbar {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        padding: 50px 0 20px 0;
    }
    .navbar-menu {
        display: flex;
    }
    .navbar-logo {
        align-items: center;
        margin-bottom: 2%;
    }
    .navbar-items {
        display: flex;
        flex-direction: row;
        list-style: none;
        margin-left: auto;
        margin-right: auto;
    }
    .navbar-items-menu {
        padding: 0;
        border-bottom: 5px solid transparent;
    }
    .nav-link {
        display: flex;
        font-weight: 700;
        color: var(--black);
        padding-left: 10px;
        padding-right: 10px;
    }
    .logoedit {
        display: flex;
        justify-content: center;
    }
    .container {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .sub {
        font-size: xx-large;
        font-weight: bolder;
        color: var(--blue);
    }
    .sub-text {
        text-align: justify;
        margin-bottom: 60px;
    }
    .download {
        text-align: center;
        margin-top: 50px;
        border-radius: 5px;
        border-style: none;
        color: var(--white);
        background-color: var(--blue);
        height: 60px;
        width: 100px;
    }
    .footer-icons {
        display: flex;
        padding: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
        z-index: 999;
    }
    .items-social-media {
        color: var(--white);
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 15px;
    }
    .footer-link {
        color: var(--white);
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .interatividade {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .text {
        color: var(--blue);
        font-size: large;
        font-weight: bold;
    }
    #logoedit {
        width: 60%;
    }
    #download {
        color: white;
    }
    #VIDEO {
        width: 720px;
        height: 405px;
        margin-bottom: 30px;
    }
    #map {
        width: 800px;
        height: 600px;
    }
    #burger {
        display: none;
    }
}

@media (min-width: 1025px) {
    /* estilos aplicados a dispositivos com tela maior que 1025px */
    .navbar {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        padding: 50px 0 20px 0;
    }
    .navbar-menu {
        display: flex;
    }
    .navbar-logo {
        align-items: center;
        margin-bottom: 2%;
    }
    .navbar-items {
        display: flex;
        flex-direction: row;
        list-style: none;
        margin-left: auto;
        margin-right: auto;
    }
    .navbar-items-menu {
        padding: 0;
        border-bottom: 5px solid transparent;
    }
    .nav-link {
        display: flex;
        font-weight: 700;
        color: var(--black);
        padding-left: 10px;
        padding-right: 10px;
    }
    .logoedit {
        display: flex;
        justify-content: center;
    }
    .container {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .sub {
        font-size: xx-large;
        font-weight: bolder;
        color: var(--blue);
    }
    .sub-text {
        text-align: justify;
        margin-bottom: 60px;
    }
    .download {
        text-align: center;
        margin-top: 50px;
        border-radius: 5px;
        border-style: none;
        color: var(--white);
        background-color: var(--blue);
        height: 60px;
        width: 100px;
    }
    .footer-icons {
        display: flex;
        padding: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
        z-index: 999;
    }
    .items-social-media {
        color: var(--white);
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 15px;
    }
    .footer-link {
        color: var(--white);
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .interatividade {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .text {
        color: var(--blue);
        font-size: large;
        font-weight: bold;
    }
    #logoedit {
        width: 60%;
    }
    #download {
        color: white;
    }
    #VIDEO {
        width: 1020px;
        height: 500px;
        margin-bottom: 100px
    }
    #map {
        width: 1020px;
        height: 600px;
    }
    #burger {
        display: none;
    }
}