/* PADRÃO DE CORES DO MANUAL SENAI */
:root {
    --red: #e30613;
    --black: #000000;
    --white: #ffffff;
    --gray: #E1E4E7;
    --redMedium: #9a1915;
    --redDark: #681413;
    --blue: #1eb39f;
    --green: #cdfaaf;
    --bluebb: #d9fff7;
}

/* AQUI ESTÃO SOMENTE AS TAGS COM SUAS PROPRIEDADES */
* {
    box-sizing: border-box;
    scroll-behavior: smooth !important;
}

@media (max-width: 768px) {
    #VIDEO {
        max-width: 350px;
        max-height: 250px;
        margin-bottom: 100px;
        margin-left:30px;
    }
    .interatividade {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 500px;
        max-height: 500px;
        margin-bottom: 75px;
        margin-left:40px;
    }
    .text{
        margin-left: 50px;
    }
    .sub{
        margin-left:50PX;
    }
    .sub-text{
        margin-left: 50px;
    }

}
       
    /* estilos aplicados a dispositivos com tela menor ou igual a 768px */

@media (min-width: 769px) and (max-width: 1024px) {
   
    /* estilos aplicados a dispositivos com tela entre 769px e 1024px */
}

@media (min-width: 1025px) {
    /* estilos aplicados a dispositivos com tela maior que 1025px */
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: var(--bluebb);
    width: 100%;
    height: 100%;

}

header {
    background-color: var(--white);
    color: var(--black);
    /* min-height: 60px; */
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
}

a {
    text-decoration: none;
    align-items: center;
}

a :hover {
    opacity: 0.3;
}

ul {
    list-style: none;
}

main {
    max-width: 1140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

footer {
    margin-top: 3em;
    background-color: var(--red);
    width: 100%;
    height: 210px;
    position: sticky;
}

/* AQUI COMEÇA OS STYLES DAS CLASSES E IDS */

h1 {
    font-size: 32px;
    padding-top: 16px;
    padding-bottom: 4px;
    margin-left: 70px;
    color: var(--blue);
}

h2 {
    font-size: 17px;
    padding-top: 16px;
    padding-bottom: 4px;
    margin-left: 70px;
    color: var(--black);
}


.container {
    max-width: 1140px;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 0 20px 0;
}

.navbar-menu {
    display: flex;
}

.navbar-logo {
    align-items: center;
    margin-bottom: 2%;
}

.navbar-items {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

.navbar-items-menu {
    padding: 0;
    border-bottom: 5px solid transparent;
}

.nav-link {
    font-weight: 700;
    color: var(--black);
    padding-left: 10px;
    padding-right: 10px;
}

.logoedit {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.sub {
    font-size: xx-large;
    font-weight: bolder;
    color: var(--blue);
}

.sub-text {
    margin-bottom: 60px;
}

.download {
    text-align: center;
    margin-top: 50px;
    border-radius: 5px;
    border-style: none;
    color: var(--white);
    background-color: var(--blue);
    height: 60px;
    width: 100px;
}

.footer-icons {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 999;
}

.items-social-media {
    color: var(--white);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
}

.footer-link {
    color: var(--white);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.interatividade {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    color: var(--blue);
    font-size: large;
    font-weight: bold;
}
.navbar-toggler{
    padding: 0;
    border-bottom: 5px solid transparent;
    font-weight: 700;
    color: var(--black);
    padding-left: 190px;
    padding-right: 10px;

}

.navbar-toggler-icon{
    padding: 0;
    border-bottom: 5px solid transparent;
    font-weight: 700;
    color: var(--black);
    padding-left: 30px;
    padding-right: 10px;

}

#logoedit {
    width: 60%;
}

#download {
    color: white;
}

#VIDEO {
    width: 720px;
    height: 405px;
    margin-bottom: 30px
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    color: #fff;
   }

   .nav-links a {
    color: #000000;
   }

   /* LOGO */
   .logo {
    font-size: 32px;
   }

   /* NAVBAR MENU */
   .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
   }

   .menu li:hover {
    background-color: #ffffff;
    border-radius: 5px;
    transition: 0.3s ease;
   }

   .menu li {
    padding: 5px 14px;
   }

   /* MENU SUSPENSO */
   .services {
    position: relative; 
   }

   .dropdown {
    background-color: rgb(248, 248, 248);
    padding: 1em 0;
    position: absolute; 
    display: none;
    border-radius: 8px;
    top: 35px;
   }

   .dropdown li + li {
    margin-top: 10px;
   }

   .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
   }

   .dropdown li:hover {
    background-color: #ffffff;
   }

   .services:hover .dropdown {
    display: block;
   }

   input[type=checkbox]{
    display: none;
   } 

   /*HAMBURGER MENU*/
   .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
   }

   /* APLICAÇÃO MEDIA QUERIES */
   @media (max-width: 768px) {
   .menu { 
    display:none;
    position: absolute;
    background-color:rgb(255, 255, 255);
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
   }

   .menu li:hover {
    display: inline-block;
    background-color:#ffffff;
    transition: 0.3s ease;
   }

   .menu li + li {
    margin-top: 12px;
   }

   input[type=checkbox]:checked ~ .menu{
    display: block;
   }

   .hamburger {
    display: block;
    color: #000000;
   }

   .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
   }
   
   .dropdown li:hover {
    background-color: #4c9e9e;
   }
   }
   
